pre {
  width: fit-content;
}

#userEnteredStringExampleOutput {
  color: lightblue;
}

div #userTestSpace {
  display: block;
  width: fit-content;
  height: 10px;
}

pre code {
  background-color: var(--vscode-window-background, darkgrey) !important;
  border: 1px;
  border-style: solid;
  border-color: var(--vscode-tabs-editor-border, lightgrey);
}
