.main-content img {
  padding: 0;
  max-width: 100%;
  margin: 0;
  border-style: solid;
  border-width: 1px;
  border-color: var(--vscode-tabs-editor-border, darkgrey);
}

h4 {
  scroll-margin-top: 14vh;
  font-size: 1.5em;
}

hr.solid {
  color: var(--vscode-font-color-comments, green);
  opacity: 50%;
}

ul {
  font-size: 1em;
}

#quick-nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#quick-nav-list li {
  float: left;
}

#quick-nav-list li a {
  display: block;
  padding: 0 16px 0 0;
}

/* #box-model li {
  vertical-align: middle;
  padding: 1vmin;
  margin: 0;
}
#box-model {
  display: inline-flexbox;
  border-style: solid;
  border-width: 1px;
  border-color: var(--vscode-tabs-editor-border, darkgrey);
  width: fit-content;
  margin: 0;
  padding: 0;
} */
/* #box-model li {
  float: left;
} */
/* #box-model ul {
} */
