:root {
  --menu-border: #454545;
  --darktheme-divider-lines: #2d2d30;
  --darktheme-dropdown-background: #1f1f1f;
  --darktheme-dropdown-border: #3c3c3c;
  --darktheme-dropdown-foreground: #ccc;
  --darktheme-dropdown-background-hover: #3a3d41;
  --darktheme-dropdown-border-hover: #007acc;
  --darktheme-dropdown-text-hover: #007acc;
  --vscode-font-color-comments: #6a9955;
  --vscode-font-color-css-entity-tag: #d7ba7d;
  --vscode-font-color-css-entity-name: #569cd6;
  --vscode-font-color-markup-inserted: #b5cea8;
  --vscode-font-color-css-entity-value: #ce9178;
  --vscode-window-background: #181818;
  --vscode-editor-foreground: #ccc;
  --vscode-font-styles: 'Inconsolata', 'Courier New', monospace;
  --vscode-tabs-editor-background: #1f1f1f;
  --vscode-tabs-editor-border: #ffffff17;
  --vscode-token-color: #b267e6;
}

code {
  background-color: #bfbfbf66;
}

a:link {
  color: var(--vscode-token-color, pink);
}

a:visited {
  color: var(--vscode-token-color, pink);
}

img {
  max-width: 90vw;
}

/* Dropdown Button */
.dropbtn {
  background-color: var(--vscode-window-background, grey);
  color: var(--vscode-editor-foreground, tan);
  padding: 4px 16px 4px;
  font-size: calc(1rem + 0.3vmin);
  border: none;
  border-color: transparent;
  border-width: 1px;
  border-style: solid;
  border-radius: 10%;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/*Quick and dirty styling to reduce the size of an <a> relative to <button>s*/
.fakedropbtn {
  padding: 0px 16px 3px;
}

.fakedropbtn:hover {
  background-color: var(--darktheme-dropdown-background-hover, lightgrey);
  border-color: var(--darktheme-dropdown-border-hover, lightblue);
  border-width: 1px;
  border-style: solid;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
  background-color: var(--darktheme-dropdown-background);
}

/* Links inside the dropdown */
.dropdown-content a {
  color: var(--darktheme-dropdown-foreground, lightblue);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: var(--darktheme-dropdown-text-hover, lightblue);
  border-radius: 5%;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  background-color: var(--darktheme-dropdown-background);
  border-width: 2px;
  border-style: solid;
  border-color: var(--darktheme-dropdown-border, white);
  border-radius: 5%;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: var(--darktheme-dropdown-background-hover, lightgrey);
  border-color: var(--darktheme-dropdown-border-hover, lightblue);
  border-width: 1px;
  border-style: solid;
}

#navigation-menu {
  border-top: solid;
  border-bottom: solid;
  border-width: 1px;
  border-color: var(--menu-border, white);
}
header {
  position: sticky;
}
#floating-header {
  background-color: var(--vscode-window-background, black);
  position: sticky;
  top: 0;
  z-index: 1;
}

body {
  background-color: var(--vscode-window-background, black);
}

h1,
.main-content::after,
.main-content h1::after,
footer::before {
  font-size: calc(1.5rem + 3vmin);
  color: var(--vscode-font-color-css-entity-tag);
  font-weight: 700;
}

/*Leading Paren*/
.main-content h1::after {
  content: ' (';
}

h2 {
  font-size: calc(1rem + 1vmin);
  color: var(--vscode-font-color-css-entity-name, lightblue);
}

h3 {
  color: var(--vscode-font-color-markup-inserted, cyan);
}

h4 {
  color: var(--vscode-font-color-comments, green);
}

h1,
h2,
h3,
h4,
li,
.main-content::after,
footer::before,
.main-content h1::after,
p {
  font-family: var(--vscode-font-styles, 'monospace');
}

p,
ul {
  color: var(--vscode-font-color-css-entity-value, orange);
  font-size: calc(1rem + 0.3vmin);
}

.main-content,
.left-content {
  background-color: var(--vscode-tabs-editor-background, grey);
  border-color: var(--vscode-tabs-editor-border, lightgrey);
  border-width: 1px;
  border-style: solid;
  padding: 1%;
  margin: 0 2px 4px;
}

.footertext {
  font-size: 12px;
}

.comment-colour {
  color: var(--vscode-font-color-comments, green);
}

.header-colour {
  color: var(--vscode-font-color-css-entity-tag, yellow);
}

.string-colour {
  color: var(--vscode-font-color-css-entity-value, orange);
}

.css-property-colour {
  color: var(--vscode-font-color-markup-inserted, blue);
}

.html-tag-colour {
  color: var(--vscode-font-color-css-entity-name, darkblue);
}

#archie-head {
  float: left;
  height: calc(1.5rem + 5vmin);
  width: auto;
  padding-right: 10px;
}

/*Add trailing bracket*/
footer::before {
  content: '}';
}

/*Add trailing paren*/
.main-content::after {
  color: var(--vscode-font-color-css-entity-tag);

  font-size: calc(1.5rem + 3vmin);
  font-size: calc();
  content: ')';
}

/*Add comment style*/
h4::before {
  display: inline;
  content: '//';
}

/*leave some blank space on the sides on medium+ size displays*/
@media only screen and (min-width: 600px) {
  body {
    width: 90vw;
    margin: 0 5vw;
  }
  #floating-header {
    width: 90vw;
  }
  .content {
    display: inline-flex;
  }
  .left-content {
    max-width: 20%;
  }
}

/*use more screen real estate on smaller devices*/
@media only screen and (max-width: 600px) {
  body {
    width: 95vw;
    margin: 0 2.5vw;
  }
  #floating-header {
    width: 95vw;
  }
  .content {
    display: inline-flex;
    flex-wrap: wrap-reverse;
  }
  .left-content {
    width: 100%;
  }
}
